#phonecheckout{
	position: relative;
	width: 100%;
}

#phoneselect{
	width: 100%;
	margin-left:33%;

}
#img_iPhone1 {
    height: 300px;
}

#img_iPhone2 {
    height: 300px;
	padding-left: 15px;
	padding-right: 15px;
}

#img_iPhone1:hover {
        border: 3px solid white;
		border-radius: 5px;
    }

#img_iPhone2:hover {
        border: 3px solid white;
		border-radius: 5px;
    }


h1{
	font-size: 500%;
	font-family: "Oswald",sans serif;
	color: white;
	

}

#main{
		background-color: #ce0a0a;
		margin-left: -10%;
		margin-right: -10%;
		z-index: -1;
		padding-bottom: 30px;
		
}

h2{
	font-family: 'Roboto Condensed', sans-serif;
}

#how h1{
	color: 	#ce0a0a;
}
#how p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
}

.page-header{
	border: none;
	text-align: center;
}


#how{
	margin-top: 90px;
	border: thin solid gray;
	padding: 50px;

	
}