#phonecheckout{
	position: relative;
	width: 100%;
}

#phoneselect{
	width: 100%;
	margin-left:33%;

}
#img_iPhone1 {
    height: 300px;
}

#img_iPhone2 {
    height: 300px;
}

#img_iPhone1:hover {
        border: 3px solid #ce0a0a;
    }

#img_iPhone2:hover {
        border: 3px solid #ce0a0a;
    }

#caption{
	width: 100%;}
	
#caption .iphone {
	margin-left: 8%;
    font-size: large;
	margin-right: 130px;
}

#caption .samsung{
	font-size: large;
}

h1{
	font-size: 500%;
	font-family: calibri, arial, sans-serif;
	color: #ce0a0a;
	
}

.page-header{
	border: none;
	text-align: center;
}

body{
	background-image: url("../images/bg_body_home.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#how{
	margin-top: 90px;
	border: thin solid gray;
	padding: 50px;

	
}