/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#navlogo{
	height: 120%;
	width: 50%;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  border-bottom: 3px solid #ce0a0a;
  font-weight: bold;
 
}

.navbar-default .navbar-nav.navbar-right > li > a { 
	color: #fff;
	background-color: #ce0a0a;
	border-color: #ce0a0a;}