@using BBBoss.Models

@model BBBoss.Models.CheckoutModels

@using(Html.BeginForm("test", "Checkout", FormMethod.Post))
{
    <label>Write some shtuff</label>
    @Html.TextBox("testshtuff", string.Empty)
    <input type="button" class="phone" id="iPhone" value="iPhone"/>
    <input type="button" class="phone" id="Samsung" value="Samsung"/>
    <input type="submit" value="test" />                
}

           
	        


    <head>
        <meta charset="utf-8" />
        <title></title>
         
    </head>
    <body>
        <div>
            <img src="~/Images/iPhone-6-wireframe.jpg" id="img_iPhone"/>
        </div>

        
        
        
    </body>
       
